{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>¡Bienvenido A Mezzanine!</h2>
<br/>
<p align="center"><img src="http://images.schoolmars.es/school-470x330-web/ies-gonzalo-nazareno.jpg"></img></p>
<br/>
<p align="justify">Bienvenido al sitio web Mezzanine de <strong>Kevin Ariza García.</strong> Los módulos que estoy aprendiendo en el segundo curso del Ciclo Formativo de <strong>Administración de Sistemas Informáticos en Red</strong>, son las siguientes:</p>
<br/>
<ul>
	<li><p>Implantación de Aplicaciones Web.</p></li>
	<li><p>Servicios de Red e Internet.</p></li>
	<li><p>Seguridad y Alta Disponibilidad.</p></li>
	<li><p>Introdución a la Computación en la Nube (HLC).</p></li>
	<li><p>Administración de Sistemas Operativos.</p></li>
	<li><p>Administración de Sistemas Gestores de Bases de Datos.</p></li>
</ul>
{% endblocktrans %}
{% endblock %}
